.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

*{
    outline: red 1px solid;
}

.first-section{
    background-color: #1f2937;
    min-height: 400px; 
    display: flex;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
}

.links{
    font-size: 18px;
    color: #e5e7eb;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    margin-left: auto;
    gap: 15px;
    margin-right: 100px;
}

.second-section{
    background-color: white;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.inform-head{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 35px;
}

.box{
    height: 150px;
    width: 150px;
    border: #3882f6 2px solid;
    border-radius: 10px;
}

.info-text{
    display: flex;
    justify-content: center;
    gap: 55px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f2937;
    margin-top: 5px;
}

.text{
    width: 150px;
    height: 100px;
    text-align: center;
}
.third-section{
    background-color: #e5e7eb;
    min-height: 400px;
    display: flex;
    color: #1f2937;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
}

.section-container{
    width: 800px;
    display: flex;
    flex-direction: column;
}
.quote-text{
    font-size: 36px;
}

.author{
    font-weight: 700;
    align-self: flex-end;
    font-size: 25px;
}

.fourth-section{
    background-color: white;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Sign-up{
    background-color: #3882f6;
    color: white;
    padding: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

button{
    background-color: #3882f6;
    border: white 1px solid;
    color: white;
    margin-left: 60px;
    height: 35px;
    width: 100px;
    border-radius: 10px;
}

.footer{
    background-color: #1f2937;
    min-height: 50px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

